{% extends 'base.html.twig' %}

{% block title %}Entreprises{% endblock %}

{% block body %}
    <div class="flex-grow p-6">
        <div class="flex justify-between items-center mb-4">
            <div class="flex space-x-2"></div>
            <button class="bg-green-500 text-white px-4 py-2 rounded"><a href="{{ path('app_compagny_new') }}">Nouvelle</a></button>
        </div>
        <div class="overflow-x-auto">
            <table class="min-w-full border-collapse">
                <thead>
                <tr>
                    <th class="border-b p-4 text-left bg-gray-100 dark:bg-gray-900">Nom</th>
                    <th class="border-b p-4 text-left bg-gray-100 dark:bg-gray-900">Logo</th>
                    <th class="border-b p-4 text-left bg-gray-100 dark:bg-gray-900">Adresse</th>
                    <th class="border-b p-4 text-left bg-gray-100 dark:bg-gray-900">Ville</th>
                    <th class="border-b p-4 text-left bg-gray-100 dark:bg-gray-900">Email</th>
                    <th class="border-b p-4 text-left bg-gray-100 dark:bg-gray-900">SIRET</th>
                    <th class="border-b p-4 text-left bg-gray-100 dark:bg-gray-900">NAF</th>
                    <th class="border-b p-4 text-left bg-gray-100 dark:bg-gray-900">Site web</th>
                    <th class="border-b p-4 text-left bg-gray-100 dark:bg-gray-900">Numéro de téléphone</th>
                    <th class="border-b p-4 text-left bg-gray-100 dark:bg-gray-900">Capital</th>
                    <th class="border-b p-4 text-left bg-gray-100 dark:bg-gray-900">Capital</th>
                    <th class="border-b p-4 text-left bg-gray-100 dark:bg-gray-900">Date de création</th>
                    <th class="border-b p-4 text-left bg-gray-100 dark:bg-gray-900">Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for compagny in compagnies %}
                <tr class="even:bg-gray-50">
                    <td class="border-b p-4">{{ compagny.name }}</td>
                    <td class="border-b p-4">{{ compagny.logoPath }}</td>
                    <td class="border-b p-4">{{ compagny.adress }}</td>
                    <td class="border-b p-4">{{ compagny.city }}</td>
                    <td class="border-b p-4">{{ compagny.zipCode }}</td>
                    <td class="border-b p-4">{{ compagny.email }}</td>
                    <td class="border-b p-4">{{ compagny.siret }}</td>
                    <td class="border-b p-4">{{ compagny.naf }}</td>
                    <td class="border-b p-4">{{ compagny.website }}</td>
                    <td class="border-b p-4">{{ compagny.phone }}</td>
                    <td class="border-b p-4">{{ compagny.capital }}</td>
                    <td class="border-b p-4">{{ compagny.createdAt|date('d/m/Y') }}</td>
                    <td class="border-b p-4">
                        <a href="{{ path('app_compagny_show', {'id': compagny.id}) }}">Voir</a>
                        <a href="{{ path('app_compagny_edit', {'id': compagny.id}) }}">Modifier</a>
                    </td>
                {% else %}
                    <tr>
                        <td colspan="13">Aucune entreprise trouvée</td>
                    </tr>
                {% endfor %}
                </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
