{% extends 'base.html.twig' %}

{% block title %}Compagny index{% endblock %}

{% block body %}
    <h1>Compagny index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Logo_path</th>
                <th>Adress</th>
                <th>City</th>
                <th>Zip_code</th>
                <th>Email</th>
                <th>Siret</th>
                <th>Naf</th>
                <th>Website</th>
                <th>Phone</th>
                <th>Capital</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for compagny in compagnies %}
            <tr>
                <td>{{ compagny.id }}</td>
                <td>{{ compagny.name }}</td>
                <td>{{ compagny.logoPath }}</td>
                <td>{{ compagny.adress }}</td>
                <td>{{ compagny.city }}</td>
                <td>{{ compagny.zipCode }}</td>
                <td>{{ compagny.email }}</td>
                <td>{{ compagny.siret }}</td>
                <td>{{ compagny.naf }}</td>
                <td>{{ compagny.website }}</td>
                <td>{{ compagny.phone }}</td>
                <td>{{ compagny.capital }}</td>
                <td>
                    <a href="{{ path('app_compagny_show', {'id': compagny.id}) }}">show</a>
                    <a href="{{ path('app_compagny_edit', {'id': compagny.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="13">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_compagny_new') }}">Create new</a>
{% endblock %}
