{% extends 'base.html.twig' %}

{% block title %}Entreprise{% endblock %}

{% block body %}
    <div class="flex-grow p-6">
        <div class="flex justify-between items-center mb-4">
            <div class="flex space-x-2"></div>
            {% include 'components/button.html.twig' with {
            'type':'a',
            'icon':'fa fa-plus',
            'label': 'Nouvelle',
            'href': path('app_compagny_new')} %}
        </div>
        <div class="overflow-x-auto">
            <table class="min-w-full border-collapse">
                <thead>
                <tr>
                    <th class="border-b p-4 text-left bg-gray-100">Nom</th>
                    <th class="border-b p-4 text-left bg-gray-100">Logo</th>
                    <th class="border-b p-4 text-left bg-gray-100">Adresse</th>
                    <th class="border-b p-4 text-left bg-gray-100">Ville</th>
                    <th class="border-b p-4 text-left bg-gray-100">Email</th>
                    <th class="border-b p-4 text-left bg-gray-100">SIRET</th>
                    <th class="border-b p-4 text-left bg-gray-100">NAF</th>
                    <th class="border-b p-4 text-left bg-gray-100">Site web</th>
                    <th class="border-b p-4 text-left bg-gray-100">Numéro de téléphone</th>
                    <th class="border-b p-4 text-left bg-gray-100">Capital</th>
                    <th class="border-b p-4 text-left bg-gray-100">Capital</th>
                    <th class="border-b p-4 text-left bg-gray-100">Date de création</th>
                    <th class="border-b p-4 text-left bg-gray-100">Actions</th>
                </tr>
                </thead>
                <tbody>
                    <tr class="even:bg-gray-50">
                    <td class="border-b p-4">{{ compagny.name }}</td>
                    <td class="border-b p-4">{{ compagny.logoPath }}</td>
                    <td class="border-b p-4">{{ compagny.adress }}</td>
                    <td class="border-b p-4">{{ compagny.city }}</td>
                    <td class="border-b p-4">{{ compagny.zipCode }}</td>
                    <td class="border-b p-4">{{ compagny.email }}</td>
                    <td class="border-b p-4">{{ compagny.siret }}</td>
                    <td class="border-b p-4">{{ compagny.naf }}</td>
                    <td class="border-b p-4">{{ compagny.website }}</td>
                    <td class="border-b p-4">{{ compagny.phone }}</td>
                    <td class="border-b p-4">{{ compagny.capital }}</td>
                    <td class="border-b p-4">{{ compagny.createdAt|date('d/m/Y') }}</td>
                    <td class="border-b p-4">
                        {{ include('compagny/_delete_form.html.twig') }}
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
