{% extends 'base.html.twig' %}

{% block title %}Formules de réductions{% endblock %}

{% block body %}
    <div class="flex-grow p-6">
        <div class="flex justify-between items-center mb-4">
            <div class="flex space-x-2"></div>
            <button class="bg-green-500 text-white px-4 py-2 rounded"><a href="{{ path('app_formule_reducer_new') }}">Nouvelle</a></button>
        </div>
        <div class="overflow-x-auto">
            <table class="min-w-full border-collapse">
                <thead>
                <tr>
                    <th class="border-b p-4 text-left bg-gray-100">Date de début</th>
                    <th class="border-b p-4 text-left bg-gray-100">Date de fin</th>
                    <th class="border-b p-4 text-left bg-gray-100">Valeur</th>
                    <th class="border-b p-4 text-left bg-gray-100">Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for formule_reducer in formule_reducers %}
                    <tr class="even:bg-gray-50">
                    <td class="border-b p-4">{{ formule_reducer.startDate ? formule_reducer.startDate|date('d-m-Y') : '' }}</td>
                    <td class="border-b p-4">{{ formule_reducer.endDate ? formule_reducer.endDate|date('d-m-Y') : '' }}</td>
                    <td class="border-b p-4">{{ formule_reducer.value }}</td>
                    <td class="border-b p-4">
                        <a href="{{ path('app_formule_reducer_show', {'id': formule_reducer.id}) }}">Voir</a>
                        <a href="{{ path('app_formule_reducer_edit', {'id': formule_reducer.id}) }}">Modifier</a>
                    </td>
                {% else %}
                    <tr>
                        <td colspan="13">Pas de formules de réductions trouvées</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
