{% extends 'base.html.twig' %}

{% block title %}Services{% endblock %}

{% block body %}

    <div class="flex-grow p-6">
        <div class="flex justify-end items-center mb-4">
            <div class="flex space-x-2"></div>
            <button class="bg-green-500 text-white px-4 py-2 rounded"><a href="{{ path('app_services_new') }}">Nouveau</a></button>
            <button class="bg-green-500 text-white px-4 py-2 rounded"><a href="{{ path('app_services_new') }}">Services</a></button>
        </div>
        <div class="overflow-x-auto">
            <table class="min-w-full border-collapse">
                <thead>
                <tr>
                    <th class="border-b p-4 text-left bg-gray-100">Nom</th>
                    <th class="border-b p-4 text-left bg-gray-100">Famille</th>
                    <th class="border-b p-4 text-left bg-gray-100">Prix de vente</th>
                    <th class="border-b p-4 text-left bg-gray-100">Prix d'achat</th>
                    <th class="border-b p-4 text-left bg-gray-100">Taxes</th>
                    <th class="border-b p-4 text-left bg-gray-100">Dernière modification</th>
                    <th class="border-b p-4 text-left bg-gray-100">Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for service in services %}
                    <tr class="even:bg-gray-50">
                    <td class="border-b p-4">{{ service.name }}</td>
                    <td class="border-b p-4">{{ service.category }}</td>
                    <td class="border-b p-4">{{ service.sellingPrice }}</td>
                    <td class="border-b p-4">{{ service.purchasePrice }}</td>
                    <td class="border-b p-4">{{ service.tax }}</td>
                    <td class="border-b p-4">{{ service.lastUpdate ? service.lastUpdate|date('d-m-Y') : '' }}</td>
                    <td class="border-b p-4">
                        <a href="{{ path('app_services_show', {'id': service.id}) }}">Voir</a>
                        <a href="{{ path('app_services_edit', {'id': service.id}) }}">Modifier</a>
                        <a href="{{ path('app_services_change_status', {'id': service.id}) }}">Désarchiver</a>
                    </td>
                {% else %}
                    <tr>
                        <td colspan="13">Aucun service trouvé</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
