{% extends 'base.html.twig' %}

{% block title %}Tax index{% endblock %}

{% block body %}
    <h1>Tax index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Pourcentage</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for tax in taxes %}
            <tr>
                <td>{{ tax.name }}</td>
                <td>{{ tax.percent }}</td>
                <td>
                    <a href="{{ path('app_tax_show', {'id': tax.id}) }}">Voir</a>
                    <a href="{{ path('app_tax_edit', {'id': tax.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">Aucune donnée trouvée</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_tax_new') }}">Nouveau</a>
    <a href="{{ path('app_services_index') }}">Services</a>
    <a href="{{ path('app_category_index') }}">Familles</a>
{% endblock %}
