{% extends 'base.html.twig' %}

{% block title %}Invoices index{% endblock %}

{% block body %}
    <h1>Invoices archives</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Invoices_number</th>
                <th>Last_payment_date</th>
                <th>Last_send_date</th>
                <th>Due_date</th>
                <th>Update_at</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for invoice in invoices %}
            <tr>
                <td>{{ invoice.invoicesNumber }}</td>
                <td>{{ invoice.lastPaymentDate ? invoice.lastPaymentDate|date('Y-m-d') : '' }}</td>
                <td>{{ invoice.lastSendDate ? invoice.lastSendDate|date('Y-m-d') : '' }}</td>
                <td>{{ invoice.dueDate ? invoice.dueDate|date('Y-m-d') : '' }}</td>
                <td>{{ invoice.updateAt ? invoice.updateAt|date('Y-m-d h:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_invoices_show', {'id': invoice.id}) }}">show</a>
                    <a href="{{ path('app_invoices_edit', {'id': invoice.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
        {% include 'components/button.html.twig' with {
        'type':'a',
        'icon':'fa fa-plus',
        'label': 'Nouvelle',
        'href': path('app_invoice_new')} %}
{% endblock %}
