{% extends 'base.html.twig' %}

{% block title %}New Invoices{% endblock %}

{% block body %}
<<<<<<< HEAD
<div class="container mx-auto bg-white shadow-md rounded-lg overflow-hidden mt-4 p-4 ">
    {{ form_start(form) }}
    <!-- Header -->
    <div class="flex justify-between items-center">
        <!-- Informations de l'entreprise -->
        <div class="px-4 py-2 bg-gray-50 border-t border-gray-200 flex-col">
            <h2 class="text-lg font-semibold">{{ invoice.company }}</h2>
            {{ form_row(form.company) }}
            {# {{ form_row(form.companyAddress) }} #}
            {# {{ form_row(form.companyPhone) }}
            {{ form_row(form.companyEmail) }} #}
        </div>
        <div class="flex-col"> 
            <!-- Informations du devis -->
            <div class="px-4 py-2 bg-gray-50 border-t border-gray-200">
                <h2 class="text-lg font-semibold">Devis</h2>
                {{ form_row(form.invoices_number) }}
            </div>

            <!-- Informations du client -->
            <div class="px-4 py-2 bg-gray-50 border-t border-gray-200">
                <h2 class="text-lg font-semibold">Client</h2>
                {{ form_row(form.client) }}
                {{ client.Address OR ""}}
                {{ client.phone OR ""}}
                {{ client.email OR ""}}
            </div>
        </div>
    </div>
    
    <!-- divider -->
    <div colspan="4" class="py-2 border-b border-lime-500"></div>

    <!-- Détails du devis -->
    <div class="px-4 py-2 bg-gray-50 border-t border-gray-200">
        <h2 class="text-lg font-semibold">Prestations du devis</h2>
        <table class="min-w-full mt-4">
            <thead>
                <tr>
                    <th class="py-2 text-left text-sm text-gray-600">DESCRIPTION</th>
                    <th class="py-2 text-left text-sm text-gray-600">QTÉ</th>
                    <th class="py-2 text-left text-sm text-gray-600">PRIX U.</th>
                    <th class="py-2 text-left text-sm text-gray-600">TOTAL HT</th>
                </tr>
            </thead>
            <tbody>
                {% for o in form.orders %}
                <tr>
                    <td class="py-2">{{ form_row(o.description) }}</td>
                    <td class="py-2">{{ form_row(o.quantity) }}</td>
                    <td class="py-2">{{ form_row(o.unitPrice) }}</td>
                    <td class="py-2">{{ form_row(o.total) }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="flex flex-row justify-between items-center">
        <!-- Conditions de paiement -->
        <div class="flex-col">
            <div colspan="3" class="py-2 text-right font-semibold">Conditions de paiement</div>
            <div class="py-2">Méthodes de paiement acceptées : Chèque, Virement bancaire, Carte bancaire</div>
        </div>
        <!-- Total -->
        <div class="flex-col">
            <div colspan="3" class="py-2 text-right font-semibold">Total</div>
            <div class="py-2">{{ form_row(form.total) }}</div>
        </div>
    </div>
    <!-- card "bon pour accord", date et signature -->
    <div class="flex-row border-4 mt-6">
        <div colspan="4" class="py-2 text-right">Pour le client</div>
        <div colspan="4" class="py-2 text-right">Mention "Bon pour accord", date et signature</div>
        <div colspan="4" class="py-2 text-right">../../....</div>
    </div>
    {% include 'components/button.html.twig' with {'icon': 'fa-regular fa-paper-plane','label': 'Envoyer'} %}
    {{ form_end(form) }}
</div>
=======
    <h1>Create new Invoices</h1>

    {{ include('invoices/_form.html.twig') }}

    <a href="{{ path('app_invoices_index') }}">back to list</a>
>>>>>>> 55d33bb (feat(invoice): add invoice & invoiceStatus)
{% endblock %}
