{% extends 'base.html.twig' %}

{% block title %}Invoices{% endblock %}

{% block body %}
    <h1>Invoices</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Invoices_number</th>
                <td>{{ invoice.invoicesNumber }}</td>
            </tr>
            <tr>
                <th>Last_payment_date</th>
                <td>{{ invoice.lastPaymentDate ? invoice.lastPaymentDate|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Last_send_date</th>
                <td>{{ invoice.lastSendDate ? invoice.lastSendDate|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Due_date</th>
                <td>{{ invoice.dueDate ? invoice.dueDate|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Update_at</th>
                <td>{{ invoice.updateAt ? invoice.updateAt|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_invoices_index') }}">back to list</a>

    <a href="{{ path('app_invoices_edit', {'id': invoice.id}) }}">edit</a>

    {{ include('invoices/_delete_form.html.twig') }}
{% endblock %}
