{% extends 'base.html.twig' %}

{% block title %}Liste des clients{% endblock %}

{% block body %}
    <h1>Liste des clients</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Entreprise</th>
                <th>Prénom</th>
                <th>Nom</th>
                <th>Email</th>
                <th>Téléphone</th>
                <th>Adresse</th>
                <th>Ville</th>
                <th>Code postal</th>
                <th>Siret</th>
                <th>Naf</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for client in clients %}
            <tr>
                <td>{{ client.company }}</td>
                <td>{{ client.firstname }}</td>
                <td>{{ client.lastname }}</td>
                <td>{{ client.email }}</td>
                <td>{{ client.phone }}</td>
                <td>{{ client.address }}</td>
                <td>{{ client.city }}</td>
                <td>{{ client.zipCode }}</td>
                <td>{{ client.siret }}</td>
                <td>{{ client.naf }}</td>
                <td>
                    <a href="{{ path('app_client_show', {'id': client.id}) }}">Voir</a>
                    <a href="{{ path('app_client_edit', {'id': client.id}) }}">Editer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="12">Aucun client trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_client_new') }}">Nouveau</a>
{% endblock %}
