{% extends 'base.html.twig' %}

{% block title %}Client{% endblock %}

{% block body %}
    <div class="flex-grow p-6">
        <div class="flex justify-between items-center mb-4">
            <div class="flex space-x-2"></div>
            {% include 'components/button.html.twig' with {
            'type':'a',
            'icon':'fa fa-plus',
            'label': 'Nouveau',
            'href': path('app_client_new')} %}
        </div>
        <div class="overflow-x-auto">
            <table class="min-w-full border-collapse">
                <thead>
                <tr>
                    <th class="border-b p-4 text-left bg-gray-100 dark:bg-gray-900">Entreprise</th>
                    <th class="border-b p-4 text-left bg-gray-100 dark:bg-gray-900">Prénom</th>
                    <th class="border-b p-4 text-left bg-gray-100 dark:bg-gray-900">Nom</th>
                    <th class="border-b p-4 text-left bg-gray-100 dark:bg-gray-900">Email</th>
                    <th class="border-b p-4 text-left bg-gray-100 dark:bg-gray-900">Téléphone</th>
                    <th class="border-b p-4 text-left bg-gray-100 dark:bg-gray-900">Adresse</th>
                    <th class="border-b p-4 text-left bg-gray-100 dark:bg-gray-900">Ville</th>
                    <th class="border-b p-4 text-left bg-gray-100 dark:bg-gray-900">Code postal</th>
                    <th class="border-b p-4 text-left bg-gray-100 dark:bg-gray-900">SIRET</th>
                    <th class="border-b p-4 text-left bg-gray-100 dark:bg-gray-900">NAF</th>
                    <th class="border-b p-4 text-left bg-gray-100 dark:bg-gray-900">Actions</th>
                </tr>
                </thead>
                <tbody>
                    <tr class="even:bg-gray-50">
                    <td class="border-b p-4">{{ client.company }}</td>
                    <td class="border-b p-4">{{ client.firstname }}</td>
                    <td class="border-b p-4">{{ client.lastname }}</td>
                    <td class="border-b p-4">{{ client.email }}</td>
                    <td class="border-b p-4">{{ client.phone }}</td>
                    <td class="border-b p-4">{{ client.address }}</td>
                    <td class="border-b p-4">{{ client.city }}</td>
                    <td class="border-b p-4">{{ client.zipCode }}</td>
                    <td class="border-b p-4">{{ client.siret }}</td>
                    <td class="border-b p-4">{{ client.naf }}</td>
                    <td class="border-b p-4">
                        {{ include('client/_delete_form.html.twig') }}
                    </td>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
