{% extends 'base.html.twig' %}

{% block title %}Liste des méthodes de paiement{% endblock %}

{% block body %}
    <div class="flex-grow p-6">
        <div class="flex justify-between items-center mb-4">
            <div class="flex space-x-2"></div>
            <button class="bg-green-500 text-white px-4 py-2 rounded"><a href="{{ path('app_payment_method_new') }}">Nouvelle</a></button>
        </div>
        <div class="overflow-x-auto">
            <table class="min-w-full border-collapse">
                <thead>
                <tr>
                    <th class="border-b p-4 text-left bg-gray-100 dark:bg-gray-900">Méthode de paiement</th>
                    <th class="border-b p-4 text-left bg-gray-100 dark:bg-gray-900">Montant du paiement</th>
                    <th class="border-b p-4 text-left bg-gray-100 dark:bg-gray-900">Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for payment_method in payment_methods %}
                    <tr class="even:bg-gray-50">
                    <td class="border-b p-4">{{ payment_method.method }}</td>
                    <td class="border-b p-4">{{ payment_method.payment ? payment_method.payment.amount : 'N/A' }}</td>
                    <td class="border-b p-4">
                        <a href="{{ path('app_payment_method_show', {'id': payment_method.id}) }}">Voir</a>
                        <a href="{{ path('app_payment_method_edit', {'id': payment_method.id}) }}">Modifier</a>
                    </td>
                {% else %}
                    <tr>
                        <td colspan="13">Aucun paiement trouvé</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
