{% extends 'base.html.twig' %}

{% block title %}Méthode de paiement{% endblock %}

{% block body %}
    <h1>Méthode de paiement</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Méthode de paiement</th>
                <td>{{ payment_method.method }}</td>
                <th>Montant du paiement</th>
                <td>{{ payment_method.payment ? payment_method.payment.amount : 'N/A' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_payment_method_index') }}">Retour à la liste</a>

    <a href="{{ path('app_payment_method_edit', {'id': payment_method.id}) }}">Modifier</a>

    {{ include('payment_method/_delete_form.html.twig') }}
{% endblock %}
