{{ form_start(form) }}
{% block body %}
    <div class="min-h-screen flex justify-center">
        <div class="bg-white p-16 rounded shadow-2xl w-full">
            <h2 class="text-3xl font-bold mb-10 text-gray-800">Gestion de paiement</h2>

            {{ form_start(form) }}

            <div class="grid grid-cols-1 md:grid-cols-1 gap-6">
                <div>
                    {{ form_label(form.amount, 'Paiement', {'label_attr': {'class': 'block mb-1 font-bold text-gray-500'}}) }}
                    {{ form_widget(form.amount, {'attr': {'class': 'w-full border-2 border-gray-200 p-3 rounded outline-none focus:border-purple-500'}}) }}
                    {{ form_errors(form.amount) }}
                </div>
            </div>

            <div class="mt-6">
                <button class="block w-full bg-green-500 hover:bg-green-300 p-4 rounded text-white hover:text-white transition duration-300">Enregistrer</button>
                <a href="{{ path('app_payment_index') }}">Retour à la liste</a>
            </div>

            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
{{ form_end(form) }}
