{% extends 'base.html.twig' %}

{% block title %}Liste des paiement{% endblock %}

{% block body %}
    <div class="flex-grow p-6">
        <div class="flex justify-between items-center mb-4">
            <div class="flex space-x-2"></div>
            <button class="bg-green-500 text-white px-4 py-2 rounded"><a href="{{ path('app_payment_new') }}">Nouveau</a></button>
        </div>
        <div class="overflow-x-auto">
            <table class="min-w-full border-collapse">
                <thead>
                <tr>
                    <th class="border-b p-4 text-left bg-gray-100">Montant</th>
                    <th class="border-b p-4 text-left bg-gray-100">Date</th>
                    <th class="border-b p-4 text-left bg-gray-100">Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for payment in payments %}
                    <tr class="even:bg-gray-50">
                    <td class="border-b p-4">{{ payment.amount }}</td>
                    <td class="border-b p-4">{{ payment.date ? payment.date|date('Y-m-d H:i:s') : '' }}</td>
                    <td class="border-b p-4">
                        <a href="{{ path('app_payment_show', {'id': payment.id}) }}">Voir</a>
                        <a href="{{ path('app_payment_edit', {'id': payment.id}) }}">Modifier</a>
                    </td>
                {% else %}
                    <tr>
                        <td colspan="13">Aucun paiement trouvé</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
